<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="${basedir}/internal-nlog.txt">
	<!-- 
    ${basedir} = 应用程序启动目录（所在文件夹）
    自动适配 Windows/Linux 路径分隔符，跨系统无需修改
  -->

	<targets>
		<!-- 全部日志：存在 应用目录/NLog/ 文件夹下 -->
		<target xsi:type="File" name="allfile" fileName="${basedir}/NLog/nlog-all-${shortdate}.log"
			   layout="日志记录时间：${longdate}${newline}
                 日志级别：${uppercase:${level}}${newline}
                 日志来源：${logger}${newline}
                 日志信息：${message}${newline}
                 错误信息：${exception:format=tostring}${newline}==============================================================${newline}" />

		<!-- 自身业务日志 -->
		<target xsi:type="File" name="ownFile-web" fileName="${basedir}/NLog/nlog-own-${shortdate}.log"
				layout="日志记录时间：${longdate}${newline}
            日志级别：${uppercase:${level}}${newline}
            日志来源：${logger}${newline}
            日志信息：${message}${newline}
            错误信息：${exception:format=tostring}${newline}
            相应地址: ${aspnet-request-url}${newline}
            执行方法: ${aspnet-mvc-action}${newline}==============================================================${newline}" />

		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>